/* @import url('https://fonts.cdnfonts.com/css/franchise'); */

body {
    background-color: #013C31;
    font-family: 'Questrial';
    margin: 0; 
}

#logo {
    width: 5%;
    margin-left: 15px;
}

header {
    background-color: #FFFBE4;
    height: auto;
}

main {
    flex-grow: 1;
}

input, select {
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
    margin: 40px;
    font-family: 'Questrial';
}

#filtros {
    text-align: center;
}

table, tr, th, td {
    background-color: #ebeae8;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
}

table {
    border-radius: 5px;
    overflow: hidden; 
    margin: auto;
    margin-bottom: 150px;
    width: 100%;
}

td:nth-child(odd), th:nth-child(odd) {
    background-color: #d3d3d3;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    display: flex; 
    justify-content: flex-end; 
    background-color: #FFFBE4;
    padding: 10px;
    margin-top: 40px; 
    height: 40px; 
}


/* tela principal/programacoes */

footer button {
    background-color: #FFFBE4;
    border: none; 
    margin: 0 45px;
    cursor: pointer;
}

#butaoVeiculosMec {
    padding: 12px;
    border: 1.5px solid black;
    border-radius: 40px;
    /* sombra do button */
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease; 
}

#imgMais {
    margin-left: 90%;
    border: 1.5px solid black;
    border-radius: 100px;
    /* sombra do button */
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease; 

    width: 100%;
}

#butaoAdd {
    width: 40px; 
    padding: 0; 
    margin-right: 90px;
}

#butaoAdd, #butaoVeiculosMec {
    transition: 0.3s;
}

#butaoAdd:hover {
    transform: scale(1.1);
}

#butaoVeiculosMec:hover {
    transform: scale(1.1);
}



/* tela do mecanico */

#mecanico {
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 50%;
    border-radius: 15px;
    background-color: #FFFBE4;
    border: solid 2px black;
}

#titulo-mecanico {
    color: rgb(255, 123, 0); 
    padding-left: 10%; 
    font-size: 50px;
}

#tabela-mecanico {
    width: 80%;
    border: 1px solid black;
}

#butaoVoltar {
    padding: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1.5px solid black;
    border-radius: 40px;
    /* sombra do button */
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease; 
    background-color: #ebeae8;
}

#butaoVoltar:hover {
    transform: scale(1.1);
}


/* tela filtro veiculos */

#titleFilterVeic {
    text-align: center; 
    color: #f16d01;
    font-size: 35px;
    font-family: 'Anton';
}

#nomeMecAllign {
    text-align: left;
}


/* tela de login */

h2{
    font-size: 30px;
    font-family: 'Anton';
}

.login-container {
    background-color: #FFFBE4;
    color: #f16d01;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#input-usuario, #input-senha {
    width: 100%;
    padding: 10px;
    margin: 18px 0;
    border-radius: 55px;
    box-sizing: border-box;
    border: 1px solid black;
    box-shadow: 3px 6px 3px rgba(0, 0, 0, 0.3); 
}

#input-entrar {
    width: 100%;
    padding: 10px;
    margin: 18px 0;
    background-color: #ffffff;
    color: #013C31;
    font-size: 16px;
    border-radius: 55px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 3px 6px 3px rgba(0, 0, 0, 0.3); 
}

#input-entrar:hover {
    background-color: #00614f;
    color: white;
}
